.nav-text {
  color: black;
  font-family: var(--title-font);
}

.nav-text:hover {
  color: var(--palette-maroon);
  /* text-decoration: underline; */
  cursor: pointer;
  transition: all 0.3s;
}

.nav-link {
  transition: all 0.3s;
}
