@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Sawarabi+Mincho&display=swap');

:root {
  --main-font: 'IBM Plex Serif', serif;
  --title-font: 'Sawarabi Mincho', sans-serif;
}

.text {
  font-family: var(--main-font);
}

.title {
  font-family: var(--title-font);
}
